<!DOCTYPE html>
<html>
  <head>
    <title>RentMe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="navbar-fixed">
    <nav class="transparent">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Rent Me</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">About</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <body>
    <%= yield %>
  </body>

</html>
